body {
  text-align: center;
  margin: 50px 200px;
}

.header {
  font-size: 48px;
  background-color: gray;
  padding: 8px;
}

.main {
  margin-top: 100px;
  background-color: #e6ffff;
  padding-top: 10px;
}

img {
  margin: 20px 0;
}

p {
  font-family: Helvetica, serif;
}

h2, h3 {
  margin-top: 40px;
}

.footer {
  background-color: #99ff99;
}

.section {
  margin: 20px;
  padding: 20px;
}